Thank you for your patch submission of the following patch series to OE-Core.
this is an automated response. Several tests have been executed on this proposed
patch (series {{series_id}}, revision {{revision_number}}) yielding the following results:

{{ '-' * 80 }}{% for lines in pt_results %}{% for k, v in lines %}
{% if 'Test ID' in k%}{{k}}{{' '*10}}{{v}}{%else%}{{k}}{{' '*(17-(k|length))}}{{v}}{%endif%}{%endfor%}
{{ '-' * 80 }}{% endfor %}

If you believe any of these test results are incorrect, please reply
to the mailing list (openembedded-core@lists.openembedded.org) raising
your concerns. Otherwise we would appreciate you correcting the issues
and submitting a new version of the patchset if applicable. Please
ensure you add/increment the version number when sending the new
version (i.e. [PATCH] -> [PATCH v2] -> [PATCH v3] -> ...).
